{# src/RJSite/FrontBundle/Resources/views/CV/menu.html.twig #}

<div class="border-link">
    <div class="wrapper-border-link">
        <a class="ju-link travail-justine anchor" href="#">Travail</a>
        <a class="ron-link travail-ronan anchor" href="#">Travail</a>
        <a class="ju-link etudes-justine anchor" href="#">Études</a>
        <a class="ron-link etudes-ronan anchor" href="#">Études</a>
        <a class="ju-link divers-justine anchor" href="#">Divers</a>
        <a class="ron-link divers-ronan anchor" href="#">Divers</a>
    </div>
</div>
