{# src/RJSite/FrontBundle/Resources/views/Page/description.html.twig #}

{% extends "RJSiteFrontBundle::layout.html.twig" %}

{% block title %}
    Description - {{ parent() }}
{% endblock %}

{% block rjsite_default_body %}
<div class="bg-color"></div>
<div class="wrapper">
    <div class="shipping">
        <div class="mobile title-shipping">
            <div class="icon-plane"><img class="icon-images" src="{{ asset('bundles/rjplatform/images/icon-plane.svg') }}" width="50" height="50"/></div>
            <h2 class="title-desc semi-bold green">SHIPPING POLICY</h2>
        </div>
        <ul>
            <li class="left-part">
                <div>
                    <h2 class="white bold-font"><span class="green">JU</span>STINE</h2>
                    <p class='regular white'>
                        a obtenu son Permis Vacannces-Travail le 31 mai 2016. Ce permis lui donne le droit de travailler au Canada pendant 2 ans à partir de sons arrivée sur le territoire Canadien.
                    </p>
                    <p class='regular white'>
                        Après 5 années passées dans des agences web. Elle est à la recherche d'un poste de directrice artistique digital.
                    </p>
                    <button class="btn">contacter Justine</button>
                </div>
            </li>
            <div class="icon-plane icon-plane-2 mobile"><img class="icon-images" src="{{ asset('bundles/rjplatform/images/icon-plane.svg') }}" width="50" height="50"/></div>
            <li class="right-part">
                <div>
                    <h2 class="white bold-font"><span class="green">RON</span>AN</h2>
                    <p class='regular white'>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <button class="btn">contacter Ronan</button>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}