{# src/RJSite/FrontBundle/Resources/views/Page/homepage.html.twig #}

{% extends "RJSiteFrontBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block rjsite_default_body %}
<div class="wrapper">
    <div class="home-content">
        <p class="regular">Elle est créative<br/>Il développe des trucs<br/>Elle ne comprend rien à ce qu’il dit<br/>Il pense qu’elle fait du coloriage</p>
        <img src="{{ asset('bundles/rjplatform/images/iconhome.svg') }}" width="125" height="42"/>
        <p class="bold">ENSEMBLE, ILS CRÉENT<br/>DES SITES E-COMMERCE</p>
    </div>
</div>
{% endblock %}