// ===================================================================
// + DESCRIPTION
//====================================================================

.cart{
	padding: 0;
	.form-cart{
   		max-width: 340px;
	}
	.icon-images{
		margin: 5px 0;
	}
	.icon-images+.title-desc{
    	margin: 0 0 40px 0;
    }
}