{# src/RJSite/AdminBundle/Resources/views/CV/view.html.twig #}

{% extends "RJSiteAdminBundle::layout.html.twig" %}

{% block title %}
    Ajouter un Curriculum Vitae - {{ parent() }}
{% endblock %}

{% block rjsite_admin_body %}

<div class="container theme-showcase">
    <div class="page-header">
        <div class="pull-left">
            <h2>Ajouter un Curiculum Vitae</h2>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}